FLASK_SECRET_KEY=troque_esta_chave

DATABASE_URL_GRUPO_1=postgresql://usuario:senha@host:porta/banco?sslmode=require
DATABASE_URL_GRUPO_2=postgresql://usuario:senha@host:porta/banco?sslmode=require
DATABASE_URL_GRUPO_3=postgresql://usuario:senha@host:porta/banco?sslmode=require
DATABASE_URL_GRUPO_4=postgresql://usuario:senha@host:porta/banco?sslmode=require
